<div class="container-fluid">
	<div class="col-md-3">
		<div class="panel panel-info">
			<div class="panel-heading">Overview</div>
			<div class="panel-body">
				<table class="table table-condensed">
					<tr>
						<td>Name</td>
						<td>Yalda Kako</td>
					</tr>
					<tr>
						<td>Account #</td>
						<td>14070000291478</td>
					</tr>
					<tr>
						<td>Location</td>
						<td>Pavlov Media HQ</td>
					</tr>
					<tr>
						<td>Balance</td>
						<td>USD $2.00</td>
					</tr>
					<tr>
						<td><a ui-sref="shell.statement" class="btn btn-default">My Statement</a></td>
						<td><a class="btn btn-default">Pay Now</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-4">
				<a ui-sref="shell.devices">
					<div class="panel panel-default">
						<div class="panel-body">
							Graphic
						</div>
						<div class="panel-footer">
							Devices
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a ui-sref="shell.services">
					<div class="panel panel-default">
						<div class="panel-body">
							Graphic
						</div>
						<div class="panel-footer">
							Services
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-body">
						Graphic
					</div>
					<div class="panel-footer">
						Reset Connection
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<a ui-sref="shell.paymentcenter">
					<div class="panel panel-default">
						<div class="panel-body">
							Graphic
						</div>
						<div class="panel-footer">
							Payment Center
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a ui-sref="shell.accountinfo">
					<div class="panel panel-default">
						<div class="panel-body">
							Graphic
						</div>
						<div class="panel-footer">
							Account Info
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-body">
						Graphic
					</div>
					<div class="panel-footer">
						Help
					</div>
				</div>
			</div>
		</div>
	</div>
</div>