<div>
    <br/>
    <div class="alert alert-info">Bar Chart Directive Example</div>

    <d-3-bar-chart-directive
            data="vm.boundDataSet"
            vertical="vm.boundMetaVertical"
            bars-allowed="vm.boundMetaBarsAllowed"
            height="vm.boundMetaHeight"
            width="vm.boundMetaWidth"
            set-manually="vm.setManually"
            class="col-sm-7">
    </d-3-bar-chart-directive>


    <div class="col-sm-5">
        <h3>Meta Inputs</h3>

        <label>Vertical</label> <input type="checkbox" ng-model="vm.boundMetaVertical"><br/>
        <label>Number of Bars Allowed</label> <input type="number" max="6" min="0"
                                                     ng-model="vm.boundMetaBarsAllowed"><br/>
        <label>Bar Chart Height</label> <input type="number" ng-model="vm.boundMetaHeight"><br/>
        <label>Bar Chart width</label> <input type="number" ng-model="vm.boundMetaWidth"><br/>
        <label>Set Height and Width Manually</label> <input type="checkbox" ng-model="vm.setManually"><br/>

        <h3>Data Inputs</h3>

        <label>Active</label> <input type="checkbox" ng-model="vm.boundDataSet[0].active">
        <label>Bar Color</label> <input type="text" ng-model="vm.boundDataSet[0].color">
        <label>Bar Label</label> <input type="text" ng-model="vm.boundDataSet[0].name">
        <label>Bar Data</label> <input type="number" ng-model="vm.boundDataSet[0].value"><br/><br/>

        <label>Active</label> <input type="checkbox" ng-model="vm.boundDataSet[1].active">
        <label>Bar Color</label> <input type="text" ng-model="vm.boundDataSet[1].color">
        <label>Bar Label</label> <input type="text" ng-model="vm.boundDataSet[1].name">
        <label>Bar Data</label> <input type="number" ng-model="vm.boundDataSet[1].value"><br/><br/>

        <label>Active</label> <input type="checkbox" ng-model="vm.boundDataSet[2].active">
        <label>Bar Color</label> <input type="text" ng-model="vm.boundDataSet[2].color">
        <label>Bar Label</label> <input type="text" ng-model="vm.boundDataSet[2].name">
        <label>Bar Data</label> <input type="number" ng-model="vm.boundDataSet[2].value"><br/><br/>

        <label>Active</label> <input type="checkbox" ng-model="vm.boundDataSet[3].active">
        <label>Bar Color</label> <input type="text" ng-model="vm.boundDataSet[3].color">
        <label>Bar Label</label> <input type="text" ng-model="vm.boundDataSet[3].name">
        <label>Bar Data</label> <input type="number" ng-model="vm.boundDataSet[3].value"><br/><br/>

        <label>Active</label> <input type="checkbox" ng-model="vm.boundDataSet[4].active">
        <label>Bar Color</label> <input type="text" ng-model="vm.boundDataSet[4].color">
        <label>Bar Label</label> <input type="text" ng-model="vm.boundDataSet[4].name">
        <label>Bar Data</label> <input type="number" ng-model="vm.boundDataSet[4].value"><br/><br/>

        <label>Active</label> <input type="checkbox" ng-model="vm.boundDataSet[5].active">
        <label>Bar Color</label> <input type="text" ng-model="vm.boundDataSet[5].color">
        <label>Bar Label</label> <input type="text" ng-model="vm.boundDataSet[5].name">
        <label>Bar Data</label> <input type="number" ng-model="vm.boundDataSet[5].value"><br/><br/>

    </div>
    <div class="col-sm-12">
        <h3>Mock Data</h3>
        Mock data displayed in pure form <br/><br/>

        {{vm.boundDataSet | json : 6}} <br/><br/>
    </div>
</div>