<div ng-init="vm.initialize()">
    <br />
    <div class="alert alert-info">Time Graph Directive Example[s]</div>

    <div class="row">
        <div class="col-sm-8">
            <d3-time-graph-directive
                    source-data="vm.sourceData"
                    height="vm.height"
                    width="vm.width"
                    type="vm.type"
                    show-legend="vm.showLegend"
            >
            </d3-time-graph-directive>
        </div>
        <div class="col-sm-4">
            <h3>Inputs</h3>
            <label><strong>Set Size:</strong><br>
                Width: <input type="number" ng-model="vm.width" value=""><br>
                Height: <input type="number" ng-model="vm.height" value=""><br>
            </label><br>
            <label><strong>Select X-axis data type:</strong><br>
                <input type="radio" name="x-data-type" ng-model="vm.type" value="date" ng-change="vm.addRandomData()"> Date<br>
                <input type="radio" name="x-data-type" ng-model="vm.type" value="time" ng-change="vm.addRandomData()"> Time<br>
            </label><br>
            <label><strong>Legend:</strong><br>
                Show: <input type="checkbox" name="x-data-type" ng-model="vm.showLegend" value="time"><br>
            </label><br>
            <label><strong># of Data Series</strong><br>
                <input type="number" ng-model="vm.numberOfSeries"> <input type="button" ng-click="vm.addRandomData()" value="Set"><br>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Raw Data:
            <!--<pre>{{vm.sourceData | json}}</pre>-->
            {{vm.sourceData}}
        </div>
    </div>
</div>