@import "../../../node_modules/swf-ng-kit/src/main/less/stylesheet.less";

body {
	// pad the fixed navbar down
	padding-top: 60px;
}

.example-hello-world {
	border: 1px solid green;
}

#splash {
	display: none;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.legend {
	font-size: 12px;
}
rect {
	stroke-width: 2;
}