@import "../../../node_modules/swf-ng-kit/src/main/less/stylesheet.less";

body {
	// pad the fixed navbar down
	padding-top: 60px;
}

.example-hello-world {
	border: 1px solid green;
}

#splash {
	display: none;
}

.bar {
	fill: #CC8814;
}

.axis path, .axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis path{
	fill: none;
	stroke: none;
}

.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	vertical-align: top;
	overflow: hidden;
}
.svg-content-responsive {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 0;
}