<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="shell.home">{{vm.appTitle}}</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a ui-sref="shell.home">Home</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a ng-click="vm.doAlert()" class="example-hello-world">Click Me</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div>
    <ul class="nav nav-tabs">
      <li role="presentation" ng-class="{'active': vm.stateName === 'shell.home'}"><a ui-sref="shell.home">Home</a></li>
      <li role="presentation" ng-class="{'active': vm.stateName === 'shell.d3barChart'}"><a ui-sref="shell.d3barChart">Bar Chart</a></li>
      <li role="presentation" ng-class="{'active': vm.stateName === 'shell.d3donutChart'}"><a ui-sref="shell.d3donutChart">Donut Chart</a></li>
      <li role="presentation" ng-class="{'active': vm.stateName === 'shell.d3timegraph'}"><a ui-sref="shell.d3timegraph">Time Graph</a></li>
    </ul>
</div>

<div ui-view></div>

<div class="navbar navbar-default navbar-fixed-bottom">
	&copy; 2016 PAVLOV MEDIA
</div>